<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Logger" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="ExecutionSeconds" value="20"/>
    <add key="StepConfigFile" value="C:\RP.Deployer\stepConfig.json" />
    <add key="FolderHistoryJson" value="C:\RP.Deployer\HistoryJson" />
    <add key="ContactEmergency" value="roberto.prado23@hotmail.com"/>

    <!-- MAIL CONFIGURATION TO RP.FRAMEWORK -->
    <add key="MailConfigPort" value="587" />
    <add key="MailConfigServerSmtp" value="smtp.gmail.com" />
    <add key="MailConfigEnableSsl" value="true" />
    <add key="MailConfigUseDafaultCredentials" value="false" />
    <add key="MailConfigUserName" value="robertoprado554@gmail.com" />
    <add key="MailConfigPassword" value="pxdqwniwmztdjkwz" />
    <add key="MailConfigFromName" value="RP Deployer DEV" />
    <add key="MailConfigPathBodyMessageBase" value="C:\RP.Deployer\body.html" />
  </appSettings>
  <Logger>
    <add key="AppName" value="RP.Deployer" />
    <add key="DirApp" value="C:\RP.Deployer\Logs\" />
    <add key="LogName" value="traceProcess.log" />
    <add key="FormatDate" value="dd-MM-yyyy" />
    <add key="LogSize" value="5" />
    <add key="LogDebug" value="false" />
    <add key="DaysToDeleteLog" value="60" />
  </Logger>
</configuration>